@import "../../common/utils.module.scss";

.Container {
  display: flex;
  justify-content: space-between;
  align-items: middle;

  .Occupations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttonSave {
      @include button;
    }
  }
}
