.Tabs {
  width: 650px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px rgb(146, 146, 146);

  .TabsGroup {
    display: flex;
    border-bottom: 1px solid rgb(180, 180, 180);
  }

  .TabPanel {
    width: 85%;
    margin: auto;
    padding-bottom: 2rem;
  }
}
